body {
    font-family: sans-serif;
}

header p {
    color: black;
}

header {
    background-color: gray;
    padding: 10px 0px 5px 10px;
}

main {
    background-color: darkgray;
    margin-top: 10px;
}

main p {
    color: darkblue;
}

footer {
    background-color: black;
}

footer p {
    color: white;
}

.rights {
    text-align: right;
}

main {
    border-radius: 20px;
    border: solid black;
}

header a {
    text-decoration: none;
    border: black solid;
    border-radius: 10px;
    color: yellow;
    padding: 2px;
}

.zayavka {
    color: yellow;
}
